pytz
Flask==2.3.2
gunicorn==19.9.0

google-auth>=1.5.1
google-cloud-datastore>=1.4.0
google-cloud-firestore
google-api-python-client
googlemaps

firebase-admin

flask_wtf
wtforms
flask_restful
datetime
iso8601

apscheduler

haversine

scipy
sklearn

pytest-cov
pytest>=3.6
coverage>=4.4

networkx

flasgger

sphinx

google-cloud-tasks
googleapis-common-protos


# PRESERVE ORDER (pip install marshmallow apispec)
marshmallow>=3.0.3
# NOTE: apispec==1.0.0b4 won't work either without changing source code
apispec
apispec_webframeworks

flask_marshmallow

flask-boiler @ git+https://github.com/billyrrr/flask-boiler.git@master
