pytz
Flask==1.0.2
gunicorn==19.9.0

google-auth==1.5.1
google-cloud-datastore
google-api-python-client
googlemaps

firebase-admin

flask_wtf
wtforms
flask_restful
datetime
iso8601

apscheduler

haversine

scipy
sklearn

pytest-cov
pytest>=3.6
coverage>=4.4
python-coveralls

networkx

flasgger

sphinx

google-cloud-tasks
googleapis-common-protos


# PRESERVE ORDER (pip install marshmallow apispec)
marshmallow
# NOTE: apispec==1.0.0b4 won't work either without changing source code
apispec==1.0.0b4
apispec_webframeworks

flask_marshmallow